In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/karan/Texas_Crash_buffer.csv')

In [5]:
df.columns

Index(['Crash_ID', 'AGE', 'GENDER', 'DATE', 'TIME', 'COUNTY_FIPS', 'COUNTY',
       'INTERSECTION', 'WEATHER', 'LIGHTING', 'SURFACE', 'HUMAN_FACTOR',
       'ROAD_CLASS', 'LATITUDE', 'LONGITUDE', 'MEDIANWIDTH', 'LANES',
       'ROADWIDTH', 'AADT', 'INJURY_OUTCOME', 'INJURY_COUNT', 'YEAR',
       'INTOXICATION', 'BUFF_DIST', 'ORIG_FID', 'Shape_Length', 'Shape_Area'],
      dtype='object')

In [6]:
df['GENDER'] = df['GENDER'].astype(str)
df['INTERSECTION'] = df['INTERSECTION'].astype(str)
df['WEATHER'] = df['WEATHER'].astype(str)
df['LIGHTING'] = df['LIGHTING'].astype(str)
df['SURFACE'] = df['SURFACE'].astype(str)
df['HUMAN_FACTOR'] = df['HUMAN_FACTOR'].astype(str)
df['ROAD_CLASS'] = df['ROAD_CLASS'].astype(str)
df['LANES'] = df['LANES'].astype(str)
df['INJURY_OUTCOME'] = df['INJURY_OUTCOME'].astype(str)
df['INTOXICATION'] = df['INTOXICATION'].astype(str)
df['YEAR'] = df['YEAR'].astype(str)

In [7]:
df_2019 = df[df['YEAR'] == '2019']
df_2020 = df[df['YEAR'] == '2020']
df_2021 = df[df['YEAR'] == '2021']

In [8]:
grouped = df_2021.groupby(['COUNTY', 'GENDER'])

In [9]:
counts_2021 = grouped.size()

In [10]:
counts_2021

COUNTY    GENDER
Anderson  0          15
          1         296
          2         194
Andrews   0           2
          1         124
                   ...
Zapata    1          30
          2          21
Zavala    0           1
          1          49
          2          12
Length: 705, dtype: int64

In [11]:
counts_2021_df = counts_2021.reset_index()

In [12]:
counts_2021_df

       COUNTY GENDER    0
0    Anderson      0   15
1    Anderson      1  296
2    Anderson      2  194
3     Andrews      0    2
4     Andrews      1  124
..        ...    ...  ...
700    Zapata      1   30
701    Zapata      2   21
702    Zavala      0    1
703    Zavala      1   49
704    Zavala      2   12

[705 rows x 3 columns]

In [13]:
counts_2021_df = counts_2021_df.rename(columns={0: 'COUNT'})

In [14]:
counts_2021_df

       COUNTY GENDER  COUNT
0    Anderson      0     15
1    Anderson      1    296
2    Anderson      2    194
3     Andrews      0      2
4     Andrews      1    124
..        ...    ...    ...
700    Zapata      1     30
701    Zapata      2     21
702    Zavala      0      1
703    Zavala      1     49
704    Zavala      2     12

[705 rows x 3 columns]

In [15]:
total_counts_by_county = counts_2021_df.groupby('COUNTY')['COUNT'].sum()

In [29]:
total_counts_by_county

COUNTY
Anderson     505
Andrews      162
Angelina    1216
Aransas      230
Archer        96
            ...
Wood         369
Yoakum        45
Young        123
Zapata        52
Zavala        62
Name: COUNT, Length: 254, dtype: int64

In [21]:
male = counts_2021_df[counts_2021_df['GENDER'] == '0'].groupby('COUNTY')['COUNT'].sum()
female = counts_2021_df[counts_2021_df['GENDER'] == '1'].groupby('COUNTY')['COUNT'].sum()
unknown_gender = counts_2021_df[counts_2021_df['GENDER'] == '2'].groupby('COUNTY')['COUNT'].sum()

In [22]:
male_percentages = (male / total_counts_by_county) * 100
female_percentages = (female / total_counts_by_county) * 100
unknown_gender_percentages = (unknown_gender / total_counts_by_county) * 100

In [23]:
percentages_df = pd.concat([male_percentages, female_percentages, unknown_gender_percentages], axis=1)
percentages_df.columns = ['MALE_PERCENTAGE', 'FEMALE_PERCENTAGE', 'UNKNOWN_GENDER_PERCENTAGE']
percentages_df = percentages_df.reset_index().rename(columns={'index': 'COUNTY'})

In [24]:
percentages_df

       COUNTY  MALE_PERCENTAGE  FEMALE_PERCENTAGE  UNKNOWN_GENDER_PERCENTAGE
0    Anderson         2.970297          58.613861                  38.415842
1     Andrews         1.234568          76.543210                  22.222222
2    Angelina         3.536184          55.838816                  40.625000
3     Aransas         3.913043          60.434783                  35.652174
4      Archer         1.041667          66.666667                  32.291667
..        ...              ...                ...                        ...
249      Wood         0.542005          60.162602                  39.295393
250    Yoakum         8.888889          64.444444                  26.666667
251     Young         1.626016          59.349593                  39.024390
252    Zapata         1.923077          57.692308                  40.384615
253    Zavala         1.612903          79.032258                  19.354839

[254 rows x 4 columns]

In [25]:
percentages_df = percentages_df.fillna(0)

In [26]:
percentages_df

       COUNTY  MALE_PERCENTAGE  FEMALE_PERCENTAGE  UNKNOWN_GENDER_PERCENTAGE
0    Anderson         2.970297          58.613861                  38.415842
1     Andrews         1.234568          76.543210                  22.222222
2    Angelina         3.536184          55.838816                  40.625000
3     Aransas         3.913043          60.434783                  35.652174
4      Archer         1.041667          66.666667                  32.291667
..        ...              ...                ...                        ...
249      Wood         0.542005          60.162602                  39.295393
250    Yoakum         8.888889          64.444444                  26.666667
251     Young         1.626016          59.349593                  39.024390
252    Zapata         1.923077          57.692308                  40.384615
253    Zavala         1.612903          79.032258                  19.354839

[254 rows x 4 columns]

In [27]:
percentages_df.to_csv(r'C:\Users\jts6937\Desktop\Final Folder\gender_2021.csv', index=False)

OSError: Cannot save file into a non-existent directory: 'C:\Users\jts6937\Desktop\Final Folder'

In [28]:
pwd

'C:\\Users\\karan'

In [30]:
texas_road = pd.read_csv('C:/Texas/Texas_Road.csv')b

In [ ]:
conda install geopandas