In [2]:
import numpy as np
import pandas as pd

In [3]:
texas_4 = pd.read_csv('C:/Users/karan/texas_recoded_4.csv')

In [5]:
texas_4.columns

Index(['Crash_ID', 'AGE', 'GENDER', 'DATE', 'TIME', 'COUNTY_FIPS', 'COUNTY',
       'INTERSECTION', 'WEATHER', 'LIGHTING', 'SURFACE', 'HUMAN_FACTOR',
       'ROAD_CLASS', 'LATITUDE', 'LONGITUDE', 'MEDIANWIDTH', 'LANES',
       'ROADWIDTH', 'AADT', 'INJURY_OUTCOME', 'INJURY_COUNT', 'YEAR',
       'INTOXICATION'],
      dtype='object')

In [17]:
texas_4['Crash_ID']

0         15585669
1         16473665
2         16585839
3         16824697
4         16824710
            ...
726218    19834478
726219    19850863
726220    19906451
726221    20073914
726222    20087367
Name: Crash_ID, Length: 726223, dtype: int64

In [280]:
colo_4 = pd.read_csv('C:/Users/karan/colorado_comb_recoded_4.csv')

C:\Users\karan\AppData\Local\Temp\ipykernel_11700\1037178860.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  colo_4 = pd.read_csv('C:/Users/karan/colorado_comb_recoded_4.csv')

In [7]:
colo_4.columns

Index(['SYSTEM', 'DATE', 'TIME', 'INJURY 00', 'INJURY 01', 'INJURY 02',
       'INJURY 03', 'INJURY 04', 'INTERSECTION', 'CONTOUR', 'SURFACE',
       'LIGHTING', 'WEATHER', 'HUMAN_FACTOR', 'INTOXICATION', 'AGE', 'GENDER',
       'COUNTY_FIPS', 'COUNTY', 'LATITUDE', 'LONGITUDE', 'YEAR',
       'INJURY_COUNT', 'INJURY_OUTCOME'],
      dtype='object')

In [281]:
colo_4['INJURY_COUNT'] = colo_4[['INJURY 01', 'INJURY 02',
       'INJURY 03', 'INJURY 04']].sum(axis=1)

In [282]:
colo_4[['INJURY 01', 'INJURY 02',
       'INJURY 03', 'INJURY 04','INJURY_COUNT']]

        INJURY 01  INJURY 02  INJURY 03  INJURY 04  INJURY_COUNT
0               0          0          0          0             0
1               0          0          0          0             0
2               0          0          0          0             0
3               0          1          0          0             1
4               0          0          5          0             5
...           ...        ...        ...        ...           ...
242114          0          0          0          0             0
242115          0          0          0          0             0
242116          2          2          0          0             4
242117          0          0          0          0             0
242118          0          0          0          0             0

[242119 rows x 5 columns]

In [283]:
colo_4['INJURY_OUTCOME'] = np.where(colo_4['INJURY_COUNT'] == 0,0,1)

In [284]:
colo_4[['INJURY 01', 'INJURY 02',
       'INJURY 03', 'INJURY 04','INJURY_COUNT','INJURY_OUTCOME']]

,INJURY 01,INJURY 02,INJURY 03,INJURY 04,INJURY_COUNT,INJURY_OUTCOME
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,1,0,0,1,1
4,0,0,5,0,5,1
...,...,...,...,...,...,...
242114,0,0,0,0,0,0
242115,0,0,0,0,0,0
242116,2,2,0,0,4,1
242117,0,0,0,0,0,0
242118,0,0,0,0,0,0

In [285]:
colo_4.shape

(242119, 24)

In [286]:
def generate_crash_id(index):
    return str(index + 10000000)  # Adding 10000000 ensures the number is 8 digits and doesn't start with 0

# Generate unique Crash_ID for each row
colo_4['Crash_ID'] = [generate_crash_id(i) for i in range(len(colo_4))]

In [287]:
colo_4['Crash_ID'].nunique()

242119

In [288]:
colo_4.columns

Index(['SYSTEM', 'DATE', 'TIME', 'INJURY 00', 'INJURY 01', 'INJURY 02',
       'INJURY 03', 'INJURY 04', 'INTERSECTION', 'CONTOUR', 'SURFACE',
       'LIGHTING', 'WEATHER', 'HUMAN_FACTOR', 'INTOXICATION', 'AGE', 'GENDER',
       'COUNTY_FIPS', 'COUNTY', 'LATITUDE', 'LONGITUDE', 'YEAR',
       'INJURY_COUNT', 'INJURY_OUTCOME', 'Crash_ID'],
      dtype='object')

In [238]:
colo_4.to_csv('colo_recoded_4.csv',index=False)

In [32]:
texas_4.columns

Index(['Crash_ID', 'AGE', 'GENDER', 'DATE', 'TIME', 'COUNTY_FIPS', 'COUNTY',
       'INTERSECTION', 'WEATHER', 'LIGHTING', 'SURFACE', 'HUMAN_FACTOR',
       'ROAD_CLASS', 'LATITUDE', 'LONGITUDE', 'MEDIANWIDTH', 'LANES',
       'ROADWIDTH', 'AADT', 'INJURY_OUTCOME', 'INJURY_COUNT', 'YEAR',
       'INTOXICATION'],
      dtype='object')

In [3]:
okla = pd.read_csv('C:/Users/karan/Final_Oklahoma_4.csv')

In [4]:
okla['WEATHER_CAT'].unique()

array([11,  2,  3, 12,  0,  5,  4,  7,  6, 10], dtype=int64)

In [36]:
okla.columns

Index(['Join_Count', 'TARGET_FID', 'Crash_ID', 'FATAL', 'County_FIP', 'COUNTY',
       'CITY', 'DATE', 'TIME', 'LIGHTING_CAT', 'WEATHER_CAT', 'YEAR',
       'RDWAY_CLASS', 'INTOXICATION', 'LATITUDE', 'LONGITUDE', 'INATTENTION',
       'SPEEDING', 'TEEN_DRIVE', 'OLDER_DRIV', 'FATAL_COUNT', 'INJURY_COUNT',
       'INJURY_OUTCOME', 'x', 'y', 'ROUTE_ID', 'FROM_MEASU', 'TO_MEASURE',
       'AADT', 'MEDIANWIDT', 'FUNCTIONAL', 'LANES', 'ROWWIDTH', 'SPEEDLIMIT',
       'MLENGTH'],
      dtype='object')

In [40]:
okla[['INATTENTION','SPEEDING']]

       INATTENTION  SPEEDING
0                0         0
1                0         0
2                1         0
3                0         0
4                0         0
...            ...       ...
27727            1         0
27728            0         0
27729            0         0
27730            1         0
27731            1         0

[27732 rows x 2 columns]

In [120]:
texas_road = pd.read_csv('C:/Texas/Texas_Road.csv')

In [121]:
texas_road['SPEEDING'] = np.where(texas_road['HUMAN_FACTOR'] ==1,1,0)

In [122]:
texas_road[texas_road['SPEEDING']==1][['HUMAN_FACTOR','SPEEDING']]

        HUMAN_FACTOR  SPEEDING
17                 1         1
165                1         1
368                1         1
417                1         1
477                1         1
...              ...       ...
725071             1         1
725469             1         1
725478             1         1
726140             1         1
726163             1         1

[3798 rows x 2 columns]

In [123]:
texas_road[['HUMAN_FACTOR','SPEEDING']]

        HUMAN_FACTOR  SPEEDING
0                  8         0
1                  8         0
2                  7         0
3                  2         0
4                  8         0
...              ...       ...
726218             8         0
726219             8         0
726220             8         0
726221             5         0
726222             8         0

[726223 rows x 2 columns]

In [124]:
texas_road['INATTENTION'] = np.where(texas_4['HUMAN_FACTOR']==2,1,0)

In [125]:
texas_road[['INATTENTION','HUMAN_FACTOR']]

        INATTENTION  HUMAN_FACTOR
0                 0             8
1                 0             8
2                 0             7
3                 1             2
4                 0             8
...             ...           ...
726218            0             8
726219            0             8
726220            0             8
726221            0             5
726222            0             8

[726223 rows x 2 columns]

In [126]:
texas_road[texas_road['HUMAN_FACTOR']==2][['HUMAN_FACTOR','INATTENTION']]

        HUMAN_FACTOR  INATTENTION
3                  2            1
6                  2            1
8                  2            1
10                 2            1
18                 2            1
...              ...          ...
726105             2            1
726131             2            1
726173             2            1
726181             2            1
726190             2            1

[30725 rows x 2 columns]

In [127]:
texas_road['LANE_CHNG'] = np.where(texas_road['HUMAN_FACTOR']==3,1,0)

In [128]:
texas_road['TAILGATING'] = np.where(texas_road['HUMAN_FACTOR']==4,1,0)

In [129]:
texas_road['VIOLATION'] = np.where(texas_road['HUMAN_FACTOR']==5,1,0)

In [130]:
texas_road['UNSAFE_BACKING'] = np.where(texas_road['HUMAN_FACTOR']==6,1,0)

In [131]:
texas_road['IMPAIRMENT'] =  np.where(texas_road['HUMAN_FACTOR']==7,1,0)

In [132]:
texas_road['TURNING'] = np.where(texas_road['HUMAN_FACTOR']==8,1,0)

In [133]:
texas_road['TECH_PARK'] = np.where(texas_road['HUMAN_FACTOR']==9,1,0)

In [134]:
texas_road['NO_FAULT'] = np.where(texas_road['HUMAN_FACTOR']==10,1,0)

In [135]:
texas_road['KNW_HMN_FACTOR'] = np.where(texas_road['HUMAN_FACTOR'] == 11,1,0)

In [136]:
texas_road['UNK_HMN_FACTOR'] = np.where(texas_road['HUMAN_FACTOR']==12,1,0)

In [137]:
texas_road.columns

Index(['Join_Count', 'TARGET_FID', 'CRASH_ID', 'AGE', 'GENDER', 'DATE', 'TIME',
       'COUNTY_FIP', 'COUNTY', 'INTERSECTION', 'WEATHER', 'LIGHTING',
       'SURFACE', 'HUMAN_FACTOR', 'ROAD_CLASS', 'LATITUDE', 'LONGITUDE',
       'MEDIANWIDTH', 'LANES', 'ROADWIDTH', 'AADT', 'INJURY_OUTCOME',
       'INJURY_COUNT', 'YEAR', 'INTOXICATION', 'RTE_GRID', 'FRM_DFO', 'TO_DFO',
       'FUNCTIONAL', 'SPD_MAX', 'LEN_SEC', 'LN_MILES', 'SPEEDING',
       'INATTENTION', 'LANE_CHNG', 'TAILGATING', 'VIOLATION', 'UNSAFE_BACKING',
       'IMPAIRMENT', 'TURNING', 'TECH_PARK', 'NO_FAULT', 'KNW_HMN_FACTOR',
       'UNK_HMN_FACTOR'],
      dtype='object')

In [138]:
texas_road['WEATHER'].unique()

array([11, 12,  5,  2,  3,  8,  0,  4,  6,  7], dtype=int64)

In [139]:
texas_road['UNK_WEATHER'] = np.where(texas_road['WEATHER']==0,1,0)

In [140]:
texas_road['RAIN'] = np.where(texas_road['WEATHER']==2,1,0)

In [141]:
texas_road['SLEET_HAIL'] = np.where(texas_road['WEATHER']==3,1,0)

In [142]:
texas_road['SNOW'] = np.where(texas_road['WEATHER']==4,1,0)

In [143]:
texas_road['FOG'] = np.where(texas_road['WEATHER']==5,1,0)

In [144]:
texas_road['SAND_SNOW'] = np.where(texas_road['WEATHER'] == 6,1,0)

In [145]:
texas_road['CROSSWIND'] = np.where(texas_road['WEATHER']==7,1,0)

In [146]:
texas_road['OTHER_WEATHER'] = np.where(texas_road['WEATHER']==8,1,0)

In [147]:
texas_road['CLEAR'] = np.where(texas_road['WEATHER']==11,1,0)

In [148]:
texas_road['CLOUDY'] = np.where(texas_road['WEATHER'] ==12,1,0)

In [149]:
texas_road.columns

Index(['Join_Count', 'TARGET_FID', 'CRASH_ID', 'AGE', 'GENDER', 'DATE', 'TIME',
       'COUNTY_FIP', 'COUNTY', 'INTERSECTION', 'WEATHER', 'LIGHTING',
       'SURFACE', 'HUMAN_FACTOR', 'ROAD_CLASS', 'LATITUDE', 'LONGITUDE',
       'MEDIANWIDTH', 'LANES', 'ROADWIDTH', 'AADT', 'INJURY_OUTCOME',
       'INJURY_COUNT', 'YEAR', 'INTOXICATION', 'RTE_GRID', 'FRM_DFO', 'TO_DFO',
       'FUNCTIONAL', 'SPD_MAX', 'LEN_SEC', 'LN_MILES', 'SPEEDING',
       'INATTENTION', 'LANE_CHNG', 'TAILGATING', 'VIOLATION', 'UNSAFE_BACKING',
       'IMPAIRMENT', 'TURNING', 'TECH_PARK', 'NO_FAULT', 'KNW_HMN_FACTOR',
       'UNK_HMN_FACTOR', 'UNK_WEATHER', 'RAIN', 'SLEET_HAIL', 'SNOW', 'FOG',
       'SAND_SNOW', 'CROSSWIND', 'OTHER_WEATHER', 'CLEAR', 'CLOUDY'],
      dtype='object')

In [215]:
texas_road_1 = texas_road.copy()

In [216]:
texas_road_1['UNK_LIGHT'] = np.where(texas_road_1['LIGHTING']==0,1,0)

In [217]:
texas_road_1['DAYLIGHT'] = np.where(texas_road_1['LIGHTING']==1,1,0)

In [218]:
texas_road_1['DAWN'] = np.where(texas_road_1['LIGHTING']==2,1,0)

In [219]:
texas_road_1['DARK_NLIGHT'] = np.where(texas_road_1['LIGHTING']==3,1,0)

In [220]:
texas_road_1['DARK_LIGHTED'] = np.where(texas_road_1['LIGHTING']==4,1,0)

In [221]:
texas_road_1['DUSK'] = np.where(texas_road_1['LIGHTING']==5,1,0)

In [222]:
texas_road_1['DARK_UNK_LIGHT'] = np.where(texas_road_1['LIGHTING']==6,1,0)

In [223]:
texas_road_1['OTHERS_LIGHT'] = np.where(texas_road_1['LIGHTING'] ==8,1,0)

In [224]:
texas_road_2 = texas_road_1.copy()

In [225]:
texas_road_2['UNK_SURF'] = np.where(texas_road_2['SURFACE']==0,1,0)

In [226]:
texas_road_2['DRY_SURF'] = np.where(texas_road_2['SURFACE']==1,1,0)

In [227]:
texas_road_2['WET_SURF'] = np.where(texas_road_2['SURFACE']==2,1,0)

In [228]:
texas_road_2['STAND_WATER'] = np.where(texas_road_2['SURFACE']==3,1,0)

In [229]:
texas_road_2['SLUSH_SURF'] = np.where(texas_road_2['SURFACE']==5,1,0)

In [230]:
texas_road_2['ICE_SURF'] = np.where(texas_road_2['SURFACE']==6,1,0)

In [231]:
texas_road_2['OTHER_SURF'] = np.where(texas_road_2['SURFACE']==8,1,0)

In [232]:
texas_road_2['SNOW_SURF'] = np.where(texas_road_2['SURFACE']==9,1,0)

In [233]:
texas_road_2['DIRT_SURF'] = np.where(texas_road_2['SURFACE']==10,1,0)

In [234]:
texas_road_2.columns

Index(['Join_Count', 'TARGET_FID', 'CRASH_ID', 'AGE', 'GENDER', 'DATE', 'TIME',
       'COUNTY_FIP', 'COUNTY', 'INTERSECTION', 'WEATHER', 'LIGHTING',
       'SURFACE', 'HUMAN_FACTOR', 'ROAD_CLASS', 'LATITUDE', 'LONGITUDE',
       'MEDIANWIDTH', 'LANES', 'ROADWIDTH', 'AADT', 'INJURY_OUTCOME',
       'INJURY_COUNT', 'YEAR', 'INTOXICATION', 'RTE_GRID', 'FRM_DFO', 'TO_DFO',
       'FUNCTIONAL', 'SPD_MAX', 'LEN_SEC', 'LN_MILES', 'SPEEDING',
       'INATTENTION', 'LANE_CHNG', 'TAILGATING', 'VIOLATION', 'UNSAFE_BACKING',
       'IMPAIRMENT', 'TURNING', 'TECH_PARK', 'NO_FAULT', 'KNW_HMN_FACTOR',
       'UNK_HMN_FACTOR', 'UNK_WEATHER', 'RAIN', 'SLEET_HAIL', 'SNOW', 'FOG',
       'SAND_SNOW', 'CROSSWIND', 'OTHER_WEATHER', 'CLEAR', 'CLOUDY',
       'UNK_LIGHT', 'DAYLIGHT', 'DAWN', 'DARK_NLIGHT', 'DARK_LIGHTED', 'DUSK',
       'DARK_UNK_LIGHT', 'OTHERS_LIGHT', 'UNK_SURF', 'DRY_SURF', 'WET_SURF',
       'STAND_WATER', 'SLUSH_SURF', 'ICE_SURF', 'OTHER_SURF', 'SNOW_SURF',
       'DIRT_SURF'],
      dtype='object')

In [235]:
cat_columns = [i for i in texas_road_2.columns if texas_road_2[i].dtype =='O']

In [236]:
cat_columns

['DATE', 'TIME', 'COUNTY']

In [237]:
texas_road_2.to_csv('texas_road_dummy.csv',index=False)

In [240]:
colo_4.columns

Index(['SYSTEM', 'DATE', 'TIME', 'INJURY 00', 'INJURY 01', 'INJURY 02',
       'INJURY 03', 'INJURY 04', 'INTERSECTION', 'CONTOUR', 'SURFACE',
       'LIGHTING', 'WEATHER', 'HUMAN_FACTOR', 'INTOXICATION', 'AGE', 'GENDER',
       'COUNTY_FIPS', 'COUNTY', 'LATITUDE', 'LONGITUDE', 'YEAR',
       'INJURY_COUNT', 'INJURY_OUTCOME', 'Crash_ID'],
      dtype='object')

In [315]:
(colo_4['WEATHER'].nunique())

9

In [316]:
colo_4['LIGHTING'].nunique()

5

In [289]:
colo_4['DAYLIGHT'] = np.where(colo_4['LIGHTING']==1,1,0)

In [290]:
colo_4['DAWN'] = np.where(colo_4['LIGHTING']==2,1,0)

In [291]:
colo_4['DARK_NLIGHT'] = np.where(colo_4['LIGHTING']==3,1,0)

In [292]:
colo_4['DARK_LIGHTED'] = np.where(colo_4['LIGHTING']==4,1,0)

In [293]:
colo_4['DUSK'] = np.where(colo_4['LIGHTING']==5,1,0)

In [294]:
colo_4_1 = colo_4.copy()

In [295]:
colo_4_1['RAIN'] = np.where(colo_4_1['WEATHER']==2,1,0)

In [296]:
colo_4_1['SLEET_HAIL'] = np.where(colo_4_1['WEATHER']==3,1,0)

In [297]:
colo_4_1['SNOW'] = np.where(colo_4_1['WEATHER']==4,1,0)

In [298]:
colo_4_1['FOG'] = np.where(colo_4_1['WEATHER']==5,1,0)

In [299]:
colo_4_1['SAND_SNOW'] = np.where(colo_4_1['WEATHER']==6,1,0)

In [300]:
colo_4_1['CROSSWIND'] = np.where(colo_4_1['WEATHER']==7,1,0)

In [301]:
colo_4_1['OTHER_WEATHER'] = np.where(colo_4_1['WEATHER']==8,1,0)

In [302]:
colo_4_1['CLEAR'] = np.where(colo_4_1['WEATHER']==11,1,0)

In [303]:
colo_4_1['CLOUDY'] = np.where(colo_4_1['WEATHER']==12,1,0)

In [340]:
colo = colo_4_1.copy()

In [341]:
(colo['SURFACE'].nunique())

7

In [342]:
colo['UNK_SURF'] = np.where(colo['SURFACE']==0,1,0)

In [343]:
colo['DRY_SURF'] = np.where(colo['SURFACE']==1,1,0)

In [344]:
colo['WET_SURF'] = np.where(colo['SURFACE']==2,1,0)

In [345]:
colo['SLUSH_SURF'] = np.where(colo['SURFACE']==5,1,0)

In [346]:
colo['ICE_SURF'] = np.where(colo['SURFACE']==6,1,0)

In [347]:
colo['SNOW_SURF'] = np.where(colo['SURFACE']==9,1,0)

In [348]:
colo['DIRT_SURF'] = np.where(colo['SURFACE']==10,1,0)

In [349]:
colo.columns

Index(['SYSTEM', 'DATE', 'TIME', 'INJURY 00', 'INJURY 01', 'INJURY 02',
       'INJURY 03', 'INJURY 04', 'INTERSECTION', 'CONTOUR', 'SURFACE',
       'LIGHTING', 'WEATHER', 'HUMAN_FACTOR', 'INTOXICATION', 'AGE', 'GENDER',
       'COUNTY_FIPS', 'COUNTY', 'LATITUDE', 'LONGITUDE', 'YEAR',
       'INJURY_COUNT', 'INJURY_OUTCOME', 'Crash_ID', 'DAYLIGHT', 'DAWN',
       'DARK_NLIGHT', 'DARK_LIGHTED', 'DUSK', 'RAIN', 'SLEET_HAIL', 'SNOW',
       'FOG', 'SAND_SNOW', 'CROSSWIND', 'OTHER_WEATHER', 'CLEAR', 'CLOUDY',
       'UNK_SURF', 'DRY_SURF', 'WET_SURF', 'SLUSH_SURF', 'ICE_SURF',
       'SNOW_SURF', 'DIRT_SURF'],
      dtype='object')

In [336]:
colo

,SYSTEM,DATE,TIME,INJURY 00,INJURY 01,INJURY 02,INJURY 03,INJURY 04,INTERSECTION,CONTOUR,...,OTHER_WEATHER,CLEAR,CLOUDY,UNK_SURF,DRY_SURF,WET_SURF,SLUSH_SURF,ICE_SURF,SNOW_SURF,DIRT_SURF
0,CITY STREET,2019-01-01,0,3,0,0,0,0,YES,STRAIGHT ON-GRADE,...,1,0,0,0,0,0,0,1,0,0
1,CITY STREET,2019-01-01,0,1,0,0,0,0,NO,STRAIGHT ON-GRADE,...,1,0,0,0,0,0,0,0,1,0
2,INTERSTATE,2019-01-01,10,1,0,0,0,0,NO,STRAIGHT ON-GRADE,...,0,0,0,0,0,0,0,0,1,0
3,CITY STREET,2019-01-01,17,1,0,1,0,0,NO,STRAIGHT ON-LEVEL,...,0,0,0,0,0,0,0,1,0,0
4,CITY STREET,2019-01-01,21,0,0,0,5,0,YES,STRAIGHT ON-GRADE,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242114,State Highway,2021-12-31,23:22:00,3,0,0,0,0,At Intersection,StraightLevel,...,0,0,0,0,0,0,0,1,0,0
242115,County Road,2021-12-31,23:23:00,1,0,0,0,0,Non-Intersection,Curve LeftLevel,...,0,0,0,0,0,0,0,1,0,0
242116,Interstate Highway,2021-12-31,23:39:00,0,2,2,0,0,Non-Intersection,Curve RightDownhill,...,0,0,0,1,0,0,0,0,0,0
242117,State Highway,2021-12-31,23:41:00,1,0,0,0,0,Intersection Related,StraightLevel,...,0,0,0,0,0,0,0,0,1,0
242118,State Highway,2021-12-31,23:43:00,1,0,0,0,0,Ramp,StraightUphill,...,0,0,0,0,0,0,0,1,0,0

In [319]:
colo.to_csv('colorado_dummy.csv',index= False)

In [350]:
okla.columns

Index(['Join_Count', 'TARGET_FID', 'Crash_ID', 'FATAL', 'County_FIP', 'COUNTY',
       'CITY', 'DATE', 'TIME', 'LIGHTING_CAT', 'WEATHER_CAT', 'YEAR',
       'RDWAY_CLASS', 'INTOXICATION', 'LATITUDE', 'LONGITUDE', 'INATTENTION',
       'SPEEDING', 'TEEN_DRIVE', 'OLDER_DRIV', 'FATAL_COUNT', 'INJURY_COUNT',
       'INJURY_OUTCOME', 'x', 'y', 'ROUTE_ID', 'FROM_MEASU', 'TO_MEASURE',
       'AADT', 'MEDIANWIDT', 'FUNCTIONAL', 'LANES', 'ROWWIDTH', 'SPEEDLIMIT',
       'MLENGTH'],
      dtype='object')

In [351]:
colo['HUMAN_FACTOR'] = colo['HUMAN_FACTOR'].astype(int)

In [353]:
sorted(colo['HUMAN_FACTOR'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [354]:
colo['SPEEDING'] = np.where(colo['HUMAN_FACTOR']==1,1,0)

In [355]:
colo['INATTENTION'] = np.where(colo['HUMAN_FACTOR']==2,1,0)

In [357]:
colo['LANE_CHNG']= np.where(colo['HUMAN_FACTOR']==3,1,0)

In [358]:
colo['TAILGATING'] = np.where(colo['HUMAN_FACTOR']==4,1,0)

In [359]:
colo['VIOLATION'] = np.where(colo['HUMAN_FACTOR']==5,1,0)

In [360]:
colo['UNSAFE_BACKING'] = np.where(colo['HUMAN_FACTOR']==6,1,0)

In [361]:
colo['IMPAIRMENT'] = np.where(colo['HUMAN_FACTOR']==7,1,0)

In [362]:
colo['TURNING'] = np.where(colo['HUMAN_FACTOR']==8,1,0)

In [363]:
colo['TECH_PARK'] = np.where(colo['HUMAN_FACTOR']==9,1,0)

In [364]:
colo['NO_FAULT'] = np.where(colo['HUMAN_FACTOR']==10,1,0)

In [365]:
colo['KNW_HMN_FACTOR'] = np.where(colo['HUMAN_FACTOR']==11,1,0)

In [366]:
colo['UNK_HMN_FACTOR'] = np.where(colo['HUMAN_FACTOR']==12,1,0)

In [367]:
colo.columns

Index(['SYSTEM', 'DATE', 'TIME', 'INJURY 00', 'INJURY 01', 'INJURY 02',
       'INJURY 03', 'INJURY 04', 'INTERSECTION', 'CONTOUR', 'SURFACE',
       'LIGHTING', 'WEATHER', 'HUMAN_FACTOR', 'INTOXICATION', 'AGE', 'GENDER',
       'COUNTY_FIPS', 'COUNTY', 'LATITUDE', 'LONGITUDE', 'YEAR',
       'INJURY_COUNT', 'INJURY_OUTCOME', 'Crash_ID', 'DAYLIGHT', 'DAWN',
       'DARK_NLIGHT', 'DARK_LIGHTED', 'DUSK', 'RAIN', 'SLEET_HAIL', 'SNOW',
       'FOG', 'SAND_SNOW', 'CROSSWIND', 'OTHER_WEATHER', 'CLEAR', 'CLOUDY',
       'UNK_SURF', 'DRY_SURF', 'WET_SURF', 'SLUSH_SURF', 'ICE_SURF',
       'SNOW_SURF', 'DIRT_SURF', 'SPEEDING', 'INATTENTION', 'LANE_CHNG',
       'TAILGATING', 'VIOLATION', 'UNSAFE_BACKING', 'IMPAIRMENT', 'TURNING',
       'TECH_PARK', 'NO_FAULT', 'KNW_HMN_FACTOR', 'UNK_HMN_FACTOR'],
      dtype='object')

In [368]:
colo.to_csv('colorado_dummy.csv',index= False)

In [391]:
okla['WEATHER_CAT'].value_counts()

11    18634
12     5935
2      2286
3       333
5       245
4       136
10       71
0        70
7        20
6         2
Name: WEATHER_CAT, dtype: int64

In [369]:
okla.columns

Index(['Join_Count', 'TARGET_FID', 'Crash_ID', 'FATAL', 'County_FIP', 'COUNTY',
       'CITY', 'DATE', 'TIME', 'LIGHTING_CAT', 'WEATHER_CAT', 'YEAR',
       'RDWAY_CLASS', 'INTOXICATION', 'LATITUDE', 'LONGITUDE', 'INATTENTION',
       'SPEEDING', 'TEEN_DRIVE', 'OLDER_DRIV', 'FATAL_COUNT', 'INJURY_COUNT',
       'INJURY_OUTCOME', 'x', 'y', 'ROUTE_ID', 'FROM_MEASU', 'TO_MEASURE',
       'AADT', 'MEDIANWIDT', 'FUNCTIONAL', 'LANES', 'ROWWIDTH', 'SPEEDLIMIT',
       'MLENGTH'],
      dtype='object')

In [371]:
sorted(okla['LIGHTING_CAT'].unique())

[0, 1, 2, 3, 4, 5, 6, 8]

In [372]:
okla['UNK_LIGHT'] = np.where(okla['LIGHTING_CAT']==0,1,0)

In [373]:
okla['DAYLIGHT'] = np.where(okla['LIGHTING_CAT']==1,1,0)

In [374]:
okla['DAWN'] = np.where(okla['LIGHTING_CAT']==2,1,0)

In [375]:
okla['DARK_NLIGHT'] = np.where(okla['LIGHTING_CAT']==3,1,0)

In [376]:
okla['DARK_LIGHTED'] = np.where(okla['LIGHTING_CAT']==4,1,0)

In [377]:
okla['DUSK'] = np.where(okla['LIGHTING_CAT']==5,1,0)

In [378]:
okla['DARK_UNK_LIGHT'] = np.where(okla['LIGHTING_CAT']==6,1,0)

In [379]:
okla['OTHERS_LIGHT'] = np.where(okla['LIGHTING_CAT']==8,1,0)

In [380]:
okla_1 = okla.copy()

In [382]:
sorted(okla_1['WEATHER_CAT'].unique())

[0, 2, 3, 4, 5, 6, 7, 10, 11, 12]

In [383]:
okla_1['UNK_WAETHER'] = np.where(okla_1['WEATHER_CAT']==0,1,0)

In [384]:
okla_1['RAIN'] = np.where(okla_1['WEATHER_CAT']==2,1,0)

In [385]:
okla_1['SLEET_HAIL'] = np.where(okla_1['WEATHER_CAT']==3,1,0)

In [386]:
okla_1['SNOW'] = np.where(okla_1['WEATHER_CAT']==4,1,0)

In [387]:
okla_1['FOG'] = np.where(okla_1['WEATHER_CAT']==5,1,0)

In [388]:
okla_1['SAND_SNOW'] = np.where(okla_1['WEATHER_CAT']==6,1,0)

In [389]:
okla_1['CROSSWIND'] = np.where(okla_1['WEATHER_CAT']==7,1,0)

In [ ]:
okla_1['OTHER_WEATHER'] = np.where(okla_1['WEATHER_CAT']==)