In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
data = gpd.read_file('C:/Users/karan/Texas_LSAD.shx')

In [3]:
data

                                                geometry
0      POLYGON ((-236893.002 -406997.905, -236412.709...
1      POLYGON ((-239463.477 -406946.435, -239460.639...
2      POLYGON ((-251955.741 -406649.900, -251955.918...
3      POLYGON ((-243484.804 -411326.755, -243722.809...
4      POLYGON ((-248748.703 -406729.473, -248243.833...
...                                                  ...
16027  POLYGON ((-145936.300 -489889.815, -145933.208...
16028  POLYGON ((-129408.743 -491573.786, -129416.060...
16029  POLYGON ((-129551.904 -495098.459, -129568.850...
16030  POLYGON ((-133337.320 -485581.669, -133316.801...
16031  POLYGON ((-139881.097 -485562.454, -139830.391...

[16032 rows x 1 columns]

In [4]:
import libpysal

In [5]:
gdf = gpd.read_file('C:/Users/karan/Texas_LSAD.shx')

# Create a Queen contiguity weights matrix from the GeoDataFrame
w_queen = libpysal.weights.Queen.from_dataframe(gdf, use_index=True)

C:\Users\karan\anaconda31\Lib\site-packages\libpysal\weights\contiguity.py:347: UserWarning: The weights matrix is not fully connected:
 There are 16 disconnected components.
  W.__init__(self, neighbors, ids=ids, **kw)

In [6]:
w_queen

In [7]:
texas = pd.read_csv('C:/Users/karan/texas_metro.csv')
texas.shape

(48096, 72)

In [8]:
texas['YEAR'].unique()

array([2019, 2020, 2021], dtype=int64)

In [9]:
texas_19 = texas[texas['YEAR']==2019]
texas_19

,GISJOIN,STATEFP,Shape_Leng,COUNT,ALCOHOL,DRUG,ALCOHOL__DRUG,NO_INTOXICATION,MEDICINAL,MARIJUANA,...,NO_INJ,YES_INJ,INJ_COUNT_SUM,POPN,YEAR,Shape_Area,NAME,YEAR_CAT,STATE_CAT,STATE
0,G48000900201001,48,19702.30292,2,0.0,0.000000,0,100.000000,0.0,0.0,...,100.000000,0.000000,0,1695,2019,1.666707e+07,"Wichita Falls, TX",1,1,Texas
1,G48000900201002,48,76288.00764,27,0.0,0.000000,0,100.000000,0.0,0.0,...,55.555556,44.444444,13,1053,2019,1.667774e+08,"Wichita Falls, TX",1,1,Texas
2,G48000900202001,48,265936.44260,33,0.0,3.030303,0,96.969697,0.0,0.0,...,66.666667,33.333333,15,725,2019,1.316214e+09,"Wichita Falls, TX",1,1,Texas
3,G48000900202002,48,33483.85124,2,0.0,0.000000,0,100.000000,0.0,0.0,...,50.000000,50.000000,2,1167,2019,2.697749e+07,"Wichita Falls, TX",1,1,Texas
4,G48000900202003,48,18821.67765,3,0.0,0.000000,0,100.000000,0.0,0.0,...,66.666667,33.333333,1,637,2019,1.621930e+07,"Wichita Falls, TX",1,1,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16027,G48049701506053,48,36917.22045,19,0.0,5.263158,0,94.736842,0.0,0.0,...,68.421053,31.578947,9,1398,2019,2.838505e+07,"Dallas-Fort Worth-Arlington, TX",1,1,Texas
16028,G48049701506061,48,27125.54305,16,0.0,0.000000,0,100.000000,0.0,0.0,...,50.000000,50.000000,10,999,2019,2.827151e+07,"Dallas-Fort Worth-Arlington, TX",1,1,Texas
16029,G48049701506062,48,20962.40094,11,0.0,0.000000,0,100.000000,0.0,0.0,...,63.636364,36.363636,5,1774,2019,2.075002e+07,"Dallas-Fort Worth-Arlington, TX",1,1,Texas
16030,G48049701506071,48,30761.37663,20,0.0,5.000000,0,90.000000,5.0,0.0,...,70.000000,30.000000,8,2021,2019,4.644885e+07,"Dallas-Fort Worth-Arlington, TX",1,1,Texas
16031,G48049701506072,48,43118.66777,10,0.0,0.000000,0,100.000000,0.0,0.0,...,70.000000,30.000000,4,2098,2019,6.821355e+07,"Dallas-Fort Worth-Arlington, TX",1,1,Texas

In [10]:
texas_21 = texas[texas['YEAR']==2021]
texas_21

,GISJOIN,STATEFP,Shape_Leng,COUNT,ALCOHOL,DRUG,ALCOHOL__DRUG,NO_INTOXICATION,MEDICINAL,MARIJUANA,...,NO_INJ,YES_INJ,INJ_COUNT_SUM,POPN,YEAR,Shape_Area,NAME,YEAR_CAT,STATE_CAT,STATE
32064,G48000900201001,48,19702.30292,3,0.0,0.000000,0,100.000000,0.0,0.000000,...,33.333333,66.666667,2,1695,2021,1.666707e+07,"Wichita Falls, TX",3,1,Texas
32065,G48000900201002,48,76288.00764,28,0.0,3.571429,0,96.428571,0.0,0.000000,...,64.285714,35.714286,16,1053,2021,1.667774e+08,"Wichita Falls, TX",3,1,Texas
32066,G48000900202001,48,265936.44260,33,0.0,0.000000,0,96.969697,0.0,3.030303,...,57.575758,42.424242,16,725,2021,1.316214e+09,"Wichita Falls, TX",3,1,Texas
32067,G48000900202002,48,33483.85124,3,0.0,0.000000,0,100.000000,0.0,0.000000,...,33.333333,66.666667,2,1167,2021,2.697749e+07,"Wichita Falls, TX",3,1,Texas
32068,G48000900202003,48,18821.67765,5,0.0,0.000000,0,100.000000,0.0,0.000000,...,40.000000,60.000000,6,637,2021,1.621930e+07,"Wichita Falls, TX",3,1,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48091,G48049701506053,48,36917.22045,23,0.0,0.000000,0,100.000000,0.0,0.000000,...,52.173913,47.826087,19,1398,2021,2.838505e+07,"Dallas-Fort Worth-Arlington, TX",3,1,Texas
48092,G48049701506061,48,27125.54305,10,0.0,0.000000,0,100.000000,0.0,0.000000,...,100.000000,0.000000,0,999,2021,2.827151e+07,"Dallas-Fort Worth-Arlington, TX",3,1,Texas
48093,G48049701506062,48,20962.40094,6,0.0,0.000000,0,100.000000,0.0,0.000000,...,83.333333,16.666667,1,1774,2021,2.075002e+07,"Dallas-Fort Worth-Arlington, TX",3,1,Texas
48094,G48049701506071,48,30761.37663,25,0.0,0.000000,0,100.000000,0.0,0.000000,...,84.000000,16.000000,4,2021,2021,4.644885e+07,"Dallas-Fort Worth-Arlington, TX",3,1,Texas
48095,G48049701506072,48,43118.66777,10,0.0,0.000000,0,90.000000,0.0,10.000000,...,70.000000,30.000000,3,2098,2021,6.821355e+07,"Dallas-Fort Worth-Arlington, TX",3,1,Texas

In [11]:
texas_20 = texas[texas['YEAR']==2020]
texas_20

,GISJOIN,STATEFP,Shape_Leng,COUNT,ALCOHOL,DRUG,ALCOHOL__DRUG,NO_INTOXICATION,MEDICINAL,MARIJUANA,...,NO_INJ,YES_INJ,INJ_COUNT_SUM,POPN,YEAR,Shape_Area,NAME,YEAR_CAT,STATE_CAT,STATE
16032,G48000900201001,48,19702.30292,2,0.0,0.0,0,100.000000,0.0,0.000000,...,50.000000,50.000000,2,1695,2020,1.666707e+07,"Wichita Falls, TX",2,1,Texas
16033,G48000900201002,48,76288.00764,46,0.0,0.0,0,97.826087,0.0,2.173913,...,63.043478,36.956522,29,1053,2020,1.667774e+08,"Wichita Falls, TX",2,1,Texas
16034,G48000900202001,48,265936.44260,41,0.0,0.0,0,100.000000,0.0,0.000000,...,78.048780,21.951220,12,725,2020,1.316214e+09,"Wichita Falls, TX",2,1,Texas
16035,G48000900202002,48,33483.85124,2,0.0,0.0,0,100.000000,0.0,0.000000,...,100.000000,0.000000,0,1167,2020,2.697749e+07,"Wichita Falls, TX",2,1,Texas
16036,G48000900202003,48,18821.67765,6,0.0,0.0,0,100.000000,0.0,0.000000,...,66.666667,33.333333,3,637,2020,1.621930e+07,"Wichita Falls, TX",2,1,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32059,G48049701506053,48,36917.22045,22,0.0,0.0,0,100.000000,0.0,0.000000,...,81.818182,18.181818,6,1398,2020,2.838505e+07,"Dallas-Fort Worth-Arlington, TX",2,1,Texas
32060,G48049701506061,48,27125.54305,8,0.0,0.0,0,100.000000,0.0,0.000000,...,62.500000,37.500000,4,999,2020,2.827151e+07,"Dallas-Fort Worth-Arlington, TX",2,1,Texas
32061,G48049701506062,48,20962.40094,4,0.0,0.0,0,100.000000,0.0,0.000000,...,50.000000,50.000000,2,1774,2020,2.075002e+07,"Dallas-Fort Worth-Arlington, TX",2,1,Texas
32062,G48049701506071,48,30761.37663,22,0.0,0.0,0,100.000000,0.0,0.000000,...,54.545455,45.454545,10,2021,2020,4.644885e+07,"Dallas-Fort Worth-Arlington, TX",2,1,Texas
32063,G48049701506072,48,43118.66777,12,0.0,0.0,0,100.000000,0.0,0.000000,...,91.666667,8.333333,1,2098,2020,6.821355e+07,"Dallas-Fort Worth-Arlington, TX",2,1,Texas

In [12]:
texas['YEAR'].value_counts()

2019    16032
2020    16032
2021    16032
Name: YEAR, dtype: int64

In [13]:
weights_sparse = w_queen.sparse

In [14]:
texas_19 = texas_19.apply(pd.to_numeric, errors='coerce')

In [15]:
texas_19 = texas_19.dropna(axis=1)

In [16]:
texas_19_matrix = texas_19.values

In [17]:
texas_19_matrix.shape

(16032, 69)

In [18]:
weights_sparse

<16032x16032 sparse matrix of type '<class 'numpy.float64'>'
	with 102572 stored elements in Compressed Sparse Row format>

In [19]:
texas_19['LOG_INJ']= np.log(texas_19['YES_INJ'] +1)

In [20]:
q = texas_19['LOG_INJ'].values
q

array([0.        , 3.81649058, 3.5361167 , ..., 3.62069794, 3.4339872 ,
       3.4339872 ])

In [21]:
texas_19_matrix

array([[4.80000000e+01, 1.97023029e+04, 2.00000000e+00, ...,
        1.66670746e+07, 1.00000000e+00, 1.00000000e+00],
       [4.80000000e+01, 7.62880076e+04, 2.70000000e+01, ...,
        1.66777408e+08, 1.00000000e+00, 1.00000000e+00],
       [4.80000000e+01, 2.65936443e+05, 3.30000000e+01, ...,
        1.31621359e+09, 1.00000000e+00, 1.00000000e+00],
       ...,
       [4.80000000e+01, 2.09624009e+04, 1.10000000e+01, ...,
        2.07500156e+07, 1.00000000e+00, 1.00000000e+00],
       [4.80000000e+01, 3.07613766e+04, 2.00000000e+01, ...,
        4.64488474e+07, 1.00000000e+00, 1.00000000e+00],
       [4.80000000e+01, 4.31186678e+04, 1.00000000e+01, ...,
        6.82135490e+07, 1.00000000e+00, 1.00000000e+00]])

In [22]:
from scipy.sparse import csr_matrix

In [23]:
adjacency_matrix = w_queen.full()[0]
adjacency_matrix

array([[0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [24]:
am = adjacency_matrix
am.shape

(16032, 16032)

In [25]:
df_adjacency_matrix = pd.DataFrame(adjacency_matrix)

In [26]:
df_adjacency_matrix

,0,1,2,3,4,5,6,7,8,9,...,16022,16023,16024,16025,16026,16027,16028,16029,16030,16031
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
16028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
16029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
16031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [27]:
df_q = pd.DataFrame(q)

In [28]:
df_q

              0
0      0.000000
1      3.816491
2      3.536117
3      3.931826
4      3.536117
...         ...
16027  3.483666
16028  3.931826
16029  3.620698
16030  3.433987
16031  3.433987

[16032 rows x 1 columns]

In [29]:
df_adjacency_matrix

,0,1,2,3,4,5,6,7,8,9,...,16022,16023,16024,16025,16026,16027,16028,16029,16030,16031
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
16028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
16029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
16031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [30]:
df_q

              0
0      0.000000
1      3.816491
2      3.536117
3      3.931826
4      3.536117
...         ...
16027  3.483666
16028  3.931826
16029  3.620698
16030  3.433987
16031  3.433987

[16032 rows x 1 columns]

In [31]:
combined_vertical = pd.concat([ df_q,df_adjacency_matrix],axis=1)

In [32]:
new_columns = [f'col_{i}' for i in range(len(combined_vertical.columns))]
combined_vertical.columns = new_columns

In [33]:
combined_vertical = combined_vertical.rename_axis(index={'index': 'custom_index_name'})

In [34]:
combined_vertical.to_csv('texas_19_new.csv',index= False)

KeyboardInterrupt:

In [ ]:
# Multiply col_0 with all other columns
col_0_values = combined_vertical['col_0']
# Multiply col_1 with all other columns
t = combined_vertical.iloc[:, 1:].mul(combined_vertical['col_1'], axis=0)

In [ ]:
len(texas_19.columns)

In [ ]:
texas_19.shape

In [35]:
combined_vertical.shape

(16032, 16033)

In [36]:
combined_vertical

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_16023,col_16024,col_16025,col_16026,col_16027,col_16028,col_16029,col_16030,col_16031,col_16032
0,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.816491,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.536117,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.931826,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.536117,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16027,3.483666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
16028,3.931826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
16029,3.620698,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16030,3.433987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
16031,3.433987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [37]:
for i in range(1, 16034):  # Assuming col_0 to col_9 are your column names
    col_name = f'col_{i}'
    combined_vertical[col_name] = combined_vertical['col_0'] * combined_vertical[col_name]

KeyboardInterrupt: