In [1]:
import numpy as np
import pandas as pd

In [5]:
t = pd.read_csv('C:/Users/karan/Texas_Final_3.csv')

In [6]:
t.columns

Index(['Intoxication', 'Crash_ID', 'Age', 'Ethnicity', 'Gender', 'Crash_Date',
       'Crash_Time', 'FIPS_Code', 'County_Name', 'Damage_1000', 'Speed',
       'Intersection', 'Weather', 'Lighting', 'EntrRoad', 'RoadType',
       'RoadAlign', 'Surface', 'Evnt_1', 'HmnFac_1', 'RoadPart', 'RoadClass',
       'Latitude', 'Longitude', 'Severity', 'Days', 'MedianWidth', 'NmbrLanes',
       'Roadbed_Width', 'AADT', 'Injury ', 'Tot_Injry_Cnt', 'Death_Cnt',
       'YEAR', 'Test'],
      dtype='object')

In [24]:
t

,Intoxication,Crash_ID,Age,Ethnicity,Gender,Crash_Date,Crash_Time,FIPS_Code,County_Name,Damage_1000,...,Days,MedianWidth,NmbrLanes,Roadbed_Width,AADT,Injury,Tot_Injry_Cnt,Death_Cnt,YEAR,Test
0,97,15585669,27,0,2,2/10/2019,4:50 PM,48141,El Paso,Y,...,SUN,2,4,112,52681,0,0,0,2019,4
1,97,16473665,48,1,1,6/15/2019,11:00 AM,48241,Jasper,Y,...,SAT,0,4,82,10634,1,1,0,2019,4
2,97,16585839,44,2,1,1/26/2019,12:40 PM,48113,Dallas,Y,...,SAT,4,6,130,133758,1,1,0,2019,1
3,97,16824697,37,3,1,1/1/2019,4:53 AM,48113,Dallas,Y,...,TUE,4,6,112,106249,1,1,0,2019,4
4,97,16824710,53,2,1,1/1/2019,2:57 AM,48303,Lubbock,Y,...,TUE,0,4,64,18142,1,2,0,2019,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726218,97,19834478,38,1,1,1/29/2021,3:57 PM,48019,Bandera,Y,...,FRI,0,2,50,12234,0,0,0,2021,4
726219,97,19850863,52,1,1,2/21/2021,12:22 PM,48019,Bandera,Y,...,SUN,0,2,40,5454,0,0,0,2021,4
726220,97,19906451,66,2,1,8/25/2021,7:32 PM,48479,Webb,Y,...,WED,5,6,95,20376,0,0,0,2021,4
726221,97,20073914,18,1,1,2/23/2021,3:50 AM,48201,Harris,N,...,TUE,26,8,140,138976,1,1,0,2021,4
726222,97,20087367,35,1,1,3/14/2021,5:30 PM,48339,Montgomery,Y,...,SUN,0,4,88,51109,0,0,0,2021,4

In [49]:
d = pd.read_csv('C:/Users/karan/CB_BlockGroup.csv')

In [48]:
d['GEOID'].duplicated().sum()

0

In [50]:
d['FIPS_Code'] = (48000+d['COUNTYFP']*2 -1)

In [65]:
#d = d.drop_duplicates(subset='FIPS_Code')

In [69]:
t_19 = t[t['YEAR']==2019]
t_20 = t[t['YEAR']==2020]
t_21 = t[t['YEAR']==2021]

In [70]:
t_19

,Intoxication,Crash_ID,Age,Ethnicity,Gender,Crash_Date,Crash_Time,FIPS_Code,County_Name,Damage_1000,...,Days,MedianWidth,NmbrLanes,Roadbed_Width,AADT,Injury,Tot_Injry_Cnt,Death_Cnt,YEAR,Test
0,97,15585669,27,0,2,2/10/2019,4:50 PM,48141,El Paso,Y,...,SUN,2,4,112,52681,0,0,0,2019,4
1,97,16473665,48,1,1,6/15/2019,11:00 AM,48241,Jasper,Y,...,SAT,0,4,82,10634,1,1,0,2019,4
2,97,16585839,44,2,1,1/26/2019,12:40 PM,48113,Dallas,Y,...,SAT,4,6,130,133758,1,1,0,2019,1
3,97,16824697,37,3,1,1/1/2019,4:53 AM,48113,Dallas,Y,...,TUE,4,6,112,106249,1,1,0,2019,4
4,97,16824710,53,2,1,1/1/2019,2:57 AM,48303,Lubbock,Y,...,TUE,0,4,64,18142,1,2,0,2019,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240998,97,19793324,58,2,2,7/20/2019,5:48 PM,48019,Bandera,Y,...,SAT,0,2,38,5933,0,0,0,2019,4
240999,97,19793325,46,1,2,5/26/2019,6:21 PM,48019,Bandera,Y,...,SUN,0,2,50,12234,1,1,0,2019,4
241000,97,19793329,21,1,1,4/5/2019,2:48 AM,48019,Bandera,Y,...,FRI,0,2,50,12234,1,1,0,2019,4
241001,97,19793333,22,1,1,3/30/2019,9:33 PM,48019,Bandera,Y,...,SAT,0,2,40,6375,1,1,0,2019,4
241002,97,19845363,32,1,1,3/24/2019,7:30 PM,48019,Bandera,Y,...,SUN,0,2,50,12234,1,2,0,2019,4

In [71]:
d

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,FIPS_Code
0,48,201,341700,3,1500000US482013417003,482013417003,3,BG,588536.0,2329.0,48401
1,48,37,10901,2,1500000US480370109012,480370109012,2,BG,5976489.0,137294.0,48073
2,48,427,950204,2,1500000US484279502042,484279502042,2,BG,3752003.0,67429.0,48853
3,48,113,13101,2,1500000US481130131012,481130131012,2,BG,761546.0,0.0,48225
4,48,245,7100,2,1500000US482450071002,482450071002,2,BG,3473239.0,20518.0,48489
...,...,...,...,...,...,...,...,...,...,...,...
15795,48,439,123400,2,1500000US484391234002,484391234002,2,BG,1048745.0,0.0,48877
15796,48,29,171801,4,1500000US480291718014,480291718014,4,BG,536021.0,0.0,48057
15797,48,29,150100,4,1500000US480291501004,480291501004,4,BG,864164.0,27666.0,48057
15798,48,141,1900,1,1500000US481410019001,481410019001,1,BG,131001.0,0.0,48281
15799,48,309,2302,1,1500000US483090023021,483090023021,1,BG,610058.0,0.0,48617