In [1]:
import numpy as np
import pandas as pd

In [2]:
texas = pd.read_csv('C:/Users/karan/Texas_Final_3.csv')

In [3]:
texas

,Intoxication,Crash_ID,Age,Ethnicity,Gender,Crash_Date,Crash_Time,FIPS_Code,County_Name,Damage_1000,...,Days,MedianWidth,NmbrLanes,Roadbed_Width,AADT,Injury,Tot_Injry_Cnt,Death_Cnt,YEAR,Test
0,97,15585669,27,0,2,2/10/2019,4:50 PM,48141,El Paso,Y,...,SUN,2,4,112,52681,0,0,0,2019,4
1,97,16473665,48,1,1,6/15/2019,11:00 AM,48241,Jasper,Y,...,SAT,0,4,82,10634,1,1,0,2019,4
2,97,16585839,44,2,1,1/26/2019,12:40 PM,48113,Dallas,Y,...,SAT,4,6,130,133758,1,1,0,2019,1
3,97,16824697,37,3,1,1/1/2019,4:53 AM,48113,Dallas,Y,...,TUE,4,6,112,106249,1,1,0,2019,4
4,97,16824710,53,2,1,1/1/2019,2:57 AM,48303,Lubbock,Y,...,TUE,0,4,64,18142,1,2,0,2019,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726218,97,19834478,38,1,1,1/29/2021,3:57 PM,48019,Bandera,Y,...,FRI,0,2,50,12234,0,0,0,2021,4
726219,97,19850863,52,1,1,2/21/2021,12:22 PM,48019,Bandera,Y,...,SUN,0,2,40,5454,0,0,0,2021,4
726220,97,19906451,66,2,1,8/25/2021,7:32 PM,48479,Webb,Y,...,WED,5,6,95,20376,0,0,0,2021,4
726221,97,20073914,18,1,1,2/23/2021,3:50 AM,48201,Harris,N,...,TUE,26,8,140,138976,1,1,0,2021,4
726222,97,20087367,35,1,1,3/14/2021,5:30 PM,48339,Montgomery,Y,...,SUN,0,4,88,51109,0,0,0,2021,4

In [4]:
texas.columns

Index(['Intoxication', 'Crash_ID', 'Age', 'Ethnicity', 'Gender', 'Crash_Date',
       'Crash_Time', 'FIPS_Code', 'County_Name', 'Damage_1000', 'Speed',
       'Intersection', 'Weather', 'Lighting', 'EntrRoad', 'RoadType',
       'RoadAlign', 'Surface', 'Evnt_1', 'HmnFac_1', 'RoadPart', 'RoadClass',
       'Latitude', 'Longitude', 'Severity', 'Days', 'MedianWidth', 'NmbrLanes',
       'Roadbed_Width', 'AADT', 'Injury ', 'Tot_Injry_Cnt', 'Death_Cnt',
       'YEAR', 'Test'],
      dtype='object')

In [6]:
texas['HmnFac_1'].unique()

array([64, 45, 23, 20, 32,  1, 39, 36, 22, 54, 58, 30, 98, 28, 26, 62, 56,
       33, 29,  3, 41, 21, 61, 35, 27, 42, 34, 37, 63, 31, 57, 43,  2, 59,
       52,  4, 25, 50, 51, 10, 24, 38, 60, 53, 40, 12, 49, 11, 44],
      dtype=int64)

In [8]:
map_1 = {1:10,2:10,59:10}

In [9]:
texas['HmnFac_1'] = texas['HmnFac_1'].replace(map_1)

In [10]:
map_2 = {3:6}

In [11]:
texas['HmnFac_1'] = texas['HmnFac_1'].replace(map_2)

In [14]:
map_3 = {4:3}

In [15]:
texas['HmnFac_1'] = texas['HmnFac_1'].replace(map_3)

In [16]:
map_4 = {44:4}

In [17]:
texas['HmnFac_1'] =texas['HmnFac_1'].replace(map_4)

In [18]:
map_5 = {22:1,60:1,61:1}

In [19]:
texas['HmnFac_1'] = texas['HmnFac_1'].replace(map_5)

In [20]:
map_6 = {20:2,23:2,41:2,19:2,24:2,25:2,74:2,75:2,76:2,77:2,68:2,69:2,70:2,71:2}

In [21]:
texas['HmnFac_1'] = texas['HmnFac_1'].replace(map_6)

In [22]:
map_7 = {37:5,35:5,15:5,34:5,33:5,16:5,32:5,33:5,16:5,32:5,17:5,18:5,36:5,38:5,39:5,26:5,27:5,28:5,29:5,30:5,31:5,
        58:5,57:5,53:5,78:5}

In [23]:
texas['HmnFac_1'] = texas['HmnFac_1'].replace(map_7)

In [24]:
map_8 = {40:7,46:7,47:7,48:7,62:7,68:7,67:7,45:7}

In [25]:
texas['HmnFac_1'] = texas['HmnFac_1'].replace(map_8)

In [26]:
map_9 = {66:8, 65:8,63:8,64:8}

In [27]:
texas['HmnFac_1'] =texas['HmnFac_1'].replace(map_9)

In [28]:
map_10 = {14:9,21:9,54:9,55:9,56:9,49:9,42:9}

In [29]:
texas['HmnFac_1'] = texas["HmnFac_1"].replace(map_10)

In [30]:
map_11 = {73:11,50:11,52:11,51:11,43:11}

In [31]:
texas['HmnFac_1'] = texas['HmnFac_1'].replace(map_11)

In [32]:
map_12 = {98:12,99:12}

In [33]:
texas['HmnFac_1'] = texas['HmnFac_1'].replace(map_12)

In [35]:
texas['HmnFac_1'].unique()

12

In [38]:
texas.columns

Index(['Intoxication', 'Crash_ID', 'Age', 'Ethnicity', 'Gender', 'Crash_Date',
       'Crash_Time', 'FIPS_Code', 'County_Name', 'Damage_1000', 'Speed',
       'Intersection', 'Weather', 'Lighting', 'EntrRoad', 'RoadType',
       'RoadAlign', 'Surface', 'Evnt_1', 'HmnFac_1', 'RoadPart', 'RoadClass',
       'Latitude', 'Longitude', 'Severity', 'Days', 'MedianWidth', 'NmbrLanes',
       'Roadbed_Width', 'AADT', 'Injury ', 'Tot_Injry_Cnt', 'Death_Cnt',
       'YEAR', 'Test'],
      dtype='object')

In [39]:
texas['FIPS_Code']

0         48141
1         48241
2         48113
3         48113
4         48303
          ...
726218    48019
726219    48019
726220    48479
726221    48201
726222    48339
Name: FIPS_Code, Length: 726223, dtype: int64

In [40]:
texas.to_csv('texas_final_3.csv',index= False)